.content-bg{
  background-color: #F0FFF0;
}

.sing-ing-btn{
  border: none;
  border-radius: 50px;
  padding: 0px 20px;
  background-color: #50d050;
  color: #ffffff;
  font-weight: 700;
}
.nav-item{
  margin-right: 30px;
  font-weight: 600;
}
.head-text{
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;


}
.line-gap{
  margin-bottom: 30px;
}
.banner-style{
  padding: 20px 15px;
}

.button-all{
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #50d050;
  color: #ffffff;
  font-weight: 500;
}

.selection{
  margin-top: 100px;
  margin-bottom: 100px;
}
.catagori{
  background-color: #d9fde9;
  padding: 50px 50px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 4px;
 

  img{
    width: 66px;
    position: relative;
    margin-bottom: 20px;
  }
}

.catagori-2{
  padding: 50px 50px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 4px;


  img{
    width: 66px;
    position: relative;
    margin-bottom: 20px ;
  }
}

.card {
  border:none;
  border-radius: 15px;
  transition: all 1s;
  height: fit-content;

}

.card-footer{
  border-top: none;
  background-color: #ffffff;
  border-radius: 15px;
  
}
.card-section{
  margin-bottom: 100px;
}
.man-intro{
  height: 200px;
  p{
    margin-left:30px;
  }
}
.footer-de{
  padding-top: 50px;
  padding: 50px 15px ;
  background-color: #282531;
  a{
    color: #ffffff;
    text-decoration: none;
  }
}

.bg-footer-color{
  background-color: #282531;
  color: #ffffff;
}
.footer-line-text{
  margin-top: 100px;

}